%footer
  %p.copy= link_to 'by ryan boucher', 'http://distributedlife.com'
  .bragtags
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=314670691976164";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    .fb-like{'data-href' => "#{site_url}#{current_page.url}", 'data-colorscheme' => "light", 'data-layout' => "button_count", 'data-action' =>"recommend", 'data-show-faces' => "false", 'data-send' => "false"}
    %a{:href => "https://twitter.com/share", :class => "twitter-share-button", 'data-via' => "distributedlife", 'data-count' => "none"}Tweet
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    %script{'data-gittip-username' => "Ryan Boucher", 'data-gittip-widget' => "button", :src => "//gttp.co/v1.js"}
    .g-plusone{'data-size' => "medium"}
    :javascript
      window.___gcfg = {lang: 'en-GB'};
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();