%img#hover.nozoom{:src => "#{large}", :alt => "#{title}"}
:javascript
  $('#hover').hover(function() {
    $(this).attr('src', '#{hover_large}');
  }, function() {
    $(this).attr('src', '#{large}');
  });