%img{:src => "#{get_thumb(image)}", 'data-src' => "#{get_large(image)}", 'data-src-retina' => "#{get_retina(image)}", :alt => "click on image to resize to screen"}	
%noscript
  %img.nozoom{:src => "#{get_large(image)}"}