%p.is-centered
  = partial "/templates/image_only", :locals => {:thumb => thumb, :large => large, :retina => retina, :title => title}
= partial "/templates/meta", :locals => {:date => date, :album => album}