%nav.paginate
  - posts.reverse.each_with_index do |posts_in_album, index|
    - next unless post.title == posts_in_album.title
    - next_index = nil
    - prev_index = nil
    - next_index = index + 1 unless (index + 1) == posts.count
    - prev_index = index - 1 unless index == 0
    - unless next_index.nil?
      %a#next.next{:href => "#{posts.reverse[next_index].url}"} &#9654;
    - if prev_index.nil?
      %a#prev.prev{:href => "#{album.url}"} &#9664;
    - else
      %a#prev.prev{:href => "#{posts.reverse[prev_index].url}"} &#9664;