= partial "/templates/anchor"
.options
  .big-option
    = link_to "Click here to get the daily email", "http://eepurl.com/Li-Pr"
    %p The daily email comes out in the morning and includes whatever I have posted in the last 24 hours.
  .big-option
    = link_to "Click here to get the weekly email", "http://eepurl.com/Li-QH"
    %p The weekly email comes out on Saturday mornings and covers the entire week.
  .big-option
    = link_to "Click here to get the RSS xml", "http://distributedlife.com/travel/rss.xml"
    %p The RSS option comes out whenever your RSS reader checks, but it's likely to be a daily frequency.